<mtapp:setting
  id="show_xfn"
  label="<__trans phrase="Show xfn">">
    <input type="checkbox" id="show_xfn" name="show_xfn" value="1"<mt:if name="show_xfn"> checked="checked"</mt:if> />
</mtapp:setting>
